<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:unless="${localizedTitle}" th:text="${title}">Error</title>
<title th:if="${localizedTitle}" th:text="#{${localizedTitle}}">Error</title>
<!-- Bootstrap core CSS -->
<link
	th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
<link th:each="customCss: ${scarpaCustomCss}"
	th:href="@{'/' + ${customCss}}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</head>
<body>
	<nav th:replace="fragments/header :: header"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar"
				th:replace="fragments/sidebar :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1>
					HTTP Status <span th:text="${code}">500</span>
				</h1>
				<p th:if="${message}" th:text="#{${message}}">Error.</p>
				<div th:unless="${message}" th:switch="${type}">
					<p th:case="5xx">Server error. Please contact your
						administrator.</p>
					<p th:case="4xx">Client error. Please contact your
						administrator.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		th:src="@{'/webjars/jquery/' + ${jqueryVersion} + '/jquery.min.js'}"></script>
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<script
		th:src="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/js/bootstrap.min.js'}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
