<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.forgot.title}">Forgot password</title>
<th:block th:replace="fragments/commonCssJs :: css"></th:block>
<link th:href="@{/css/signin.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<form th:action="@{/forgot}" method="post" accept-charset="utf-8"
			class="form-signin">
			<h2 class="form-signin-heading" th:text="#{page.forgot.heading}">Forgot
				your password?</h2>
			<p th:if="${emailNotFound}" th:text="#{page.forgot.notfound}">I
				don't know anyone with this email address.</p>
			<label for="email" th:text="#{page.forgot.email}">Your e-mail
				address</label> <input type="text" id="email" name="email"
				class="form-control" placeholder="someone@example.com"
				th:placeholder="#{page.forgot.email.example}" required="required"
				autofocus="autofocus" /> <input type="hidden"
				th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button type="submit" class="btn btn-lg btn-primary btn-block"
				th:text="#{page.forgot.action.recover}">Recover</button>
			<p style="text-align: right; margin-top: 2em">
				<a href="#" th:href="@{/login}"
					th:text="#{page.forgot.action.login}">I want to log in</a>
			</p>
		</form>
	</div>

	<th:block th:replace="fragments/commonCssJs :: js"></th:block>
</body>
</html>
