<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.install.title}">Install</title>

<!-- Bootstrap core CSS -->
<link
	th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
<link th:each="customCss: ${scarpaCustomCss}"
	th:href="@{'/' + ${customCss}}" rel="stylesheet" />
<link th:href="@{/css/upload.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</head>
<body>

	<nav th:replace="fragments/header :: header"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar"
				th:replace="fragments/sidebar :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header" th:text="#{page.install.title}">Install</h1>
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a
						th:href="@{/install}" th:text="#{page.install.tab.install}">Install</a></li>
					<li role="presentation"><a th:href="@{/install/config}"
						th:text="#{page.install.tab.config}">Configure</a></li>
				</ul>
				<p></p>

				<form class="form-horizontal" id="installForm"
					th:action="@{/install}" method="post" enctype="multipart/form-data"
					accept-charset="utf-8">
					<div class="form-group">
						<label for="packageFile" class="col-sm-2 control-label"
							th:text="#{page.install.currentversion}">Current version</label>
						<div class="col-sm-10">
							<p class="form-control-static"
								th:text="${artifactVersion + ' / ' + artifactDate}"></p>
						</div>
					</div>

					<div class="form-group">
						<label for="packageFile" class="col-sm-2 control-label"
							th:text="#{page.install.updatefile}">Update file</label>
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-btn"> <span
									class="btn btn-primary btn-file"><span
										th:text="#{generic.button.browse}">Browse&hellip;</span><input
										id="packageFile" name="packageFile" type="file" /> <input
										type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" /> </span>
								</span> <input type="text" class="form-control" readonly="readonly" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default" id="startButton">
								<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
								<span th:text="#{page.install.load}">Load</span>
							</button>
							<span id="loadProgressText"></span>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div id="uploadProgress" class="progress" style="display: none;">
								<div id="loadProgressBar" class="progress-bar"
									role="progressbar" aria-valuenow="0" aria-valuemin="0"
									aria-valuemax="100" style="width: 0%;">
									<span id="loadProgressBarLabel" class="sr-only">0%
										Complete</span>
								</div>
							</div>
						</div>
					</div>
				</form>

				<form class="form-horizontal" id="restartForm"
					th:action="@{/install/restart}" method="post">

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default" id="restartButton"
								style="display: none;">
								<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
								Restart
							</button>
							<span id="restartProgressText"></span>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div id="restartProgress"
								class="progress progress-striped active" style="display: none;">
								<div class="progress-bar" role="progressbar" aria-valuenow="100"
									aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								</div>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		th:src="@{'/webjars/jquery/' + ${jqueryVersion} + '/jquery.min.js'}"></script>
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<script
		th:src="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/js/bootstrap.min.js'}"></script>
	<script th:src="@{/js/uploadField.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		var contextPath= /*[[@{/}]]*/
		//]]>
	</script>
	<script th:src="@{/js/ajaxUpload.js?v=1}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
