<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.install.config.title}">Installation
	Configuration</title>
<th:block th:replace="fragments/commonCssJs :: css"></th:block>
</head>
<body>

	<nav th:replace="fragments/header :: header"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar"
				th:replace="fragments/sidebar :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header" th:text="#{page.install.config.heading}">Installation
					Configuration</h1>
				<ul class="nav nav-tabs">
					<li role="presentation"><a th:href="@{/install}"
						th:text="#{page.install.tab.install}">Install</a></li>
					<li role="presentation" class="active"><a
						th:href="@{/install/config}" th:text="#{page.install.tab.config}">Configure</a></li>
				</ul>
				<p></p>

				<form th:action="@{/install/config}" method="post">
					<table th:if="${not #lists.isEmpty(settings)}"
						class="table table-striped">
						<thead>
							<tr>
								<th th:text="#{page.install.config.field.key}">Key</th>
								<th th:text="#{page.install.config.field.value}">Value</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="setting : ${settings}">
								<td th:text="${setting.key}">key</td>
								<td><input type="text" class="form-control"
									th:name="${setting.key}" th:value="${setting.value}" /></td>
							</tr>
						</tbody>
					</table>
					<button type="submit" class="btn btn-default" id="saveButton">
						<span class="glyphicon glyphicon-floppy" aria-hidden="true"></span>
						<th:block th:text="#{generic.button.save}">Save</th:block>
					</button>
				</form>

			</div>
		</div>
	</div>

	<th:block th:replace="fragments/commonCssJs :: js"></th:block>
</body>
</html>
