<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.login.title}">Login</title>
<th:block th:replace="fragments/commonCssJs :: css"></th:block>
<link th:href="@{/css/signin.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<form th:action="@{/login}" method="post" accept-charset="utf-8"
			class="form-signin">
			<h2 class="form-signin-heading" th:text="#{page.login.heading}">Please
				sign in</h2>
			<p th:if="${param.failed != null}" th:text="#{page.login.failed}">Invalid
				username and password.</p>
			<p th:if="${param.logout != null}" th:text="#{page.login.loggedout}">You
				have been logged out.</p>
			<label for="username" th:text="#{page.login.user}">User name</label>
			<input type="text" id="username" name="username" class="form-control"
				placeholder="User name" th:placeholder="#{page.login.user}"
				required="required" autofocus="autofocus" /> <label for="password"
				th:text="#{page.login.password}">Password</label> <input
				type="password" id="password" name="password" class="form-control"
				placeholder="Password" th:placeholder="#{page.login.password}"
				required="required" />
			<!--  -->
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<button type="submit" class="btn btn-lg btn-primary btn-block"
				th:text="#{page.login.action}">Log in</button>
			<div class="scarpa-spacer"></div>
			<div>
				<a th:if="${isRegisterEnabled}" class="pull-left" href="#"
					th:href="@{/register}" th:text="#{page.login.register}">I want
					an account</a> <a class="pull-right" href="#" th:href="@{/forgot}"
					th:text="#{page.login.forgot}">I forgot my password</a>
			</div>
		</form>
	</div>

	<th:block th:replace="fragments/commonCssJs :: js"></th:block>
</body>
</html>
