<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.me.title}">My Account</title>

<!-- Bootstrap core CSS -->
<link
	th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
<link th:each="customCss: ${scarpaCustomCss}"
	th:href="@{'/' + ${customCss}}" rel="stylesheet" />
<link th:href="@{/css/upload.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</head>
<body>

	<nav th:replace="fragments/header :: header"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar"
				th:replace="fragments/sidebar :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header" th:text="#{page.me.heading}">Edit your
					account</h1>

				<form class="form-horizontal" th:action="@{/me}" method="POST">
					<div class="col-sm-offset-2 col-sm-10" th:switch="${alert}">
						<div th:case="success" th:text="${alertMessage}"
							class="alert alert-success" role="alert">
							<span th:text="#{page.me.alert.saved}">Saved.</span>
						</div>
						<div th:case="warning" th:text="${alertMessage}"
							class="alert alert-warning" role="alert">
							<span th:text="#{page.me.alert.notchanged}">Not changed.</span>
						</div>
					</div>
					<div class="form-group">
						<label for="inputUsername" class="col-sm-2 control-label"
							th:text="#{page.me.username}">Username</label>
						<div class="col-sm-10">
							<p class="form-control-static" th:text="${user.username}"></p>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-sm-2 control-label"
							th:text="#{page.me.email}">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail"
								name="email" placeholder="e.g. someone@example.com"
								th:placeholder="#{page.me.email.example}"
								th:value="${user.email}" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label"
							th:text="#{page.me.password}">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword"
								name="password" placeholder="Password"
								th:placeholder="#{page.me.password}"
								aria-describedby="passwordHelp" /> <span id="passwordHelp"
								class="help-block"
								th:text="#{page.me.password.help(${passwordMinLen})}">The
								password should have at least 8 characters. </span>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPasswordAgain" class="col-sm-2 control-label"
							th:text="#{page.me.password.again}">Password (again)</label>
						<div class="col-sm-10">
							<input type="password" class="form-control"
								id="inputPasswordAgain" name="passwordAgain"
								placeholder="Password (again)"
								th:placeholder="#{page.me.password.again}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							th:text="#{page.useredit.roles}">Roles</label>
						<div class="col-sm-10">
							<table class="table table-striped">
								<tbody>
									<tr th:each="role: ${user.roles}">
										<td><span th:if="${role.assigned}"
											class="glyphicon glyphicon-ok" aria-hidden="true"> </span><span
											th:unless="${role.assigned}"
											class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
										<td th:text="${role.name}"></td>
										<td th:text="${role.description}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default"
								th:text="#{page.me.save}">Save</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		th:src="@{'/webjars/jquery/' + ${jqueryVersion} + '/jquery.min.js'}"></script>
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<script
		th:src="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/js/bootstrap.min.js'}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>

	<script th:src="@{/js/animation.js}"></script>
</body>
</html>
