<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.expired.title}">Change Your Password</title>
<!-- Bootstrap core CSS -->
<link
	th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/signin.css}" rel="stylesheet" />
<link th:each="customCss: ${scarpaCustomCss}" th:href="@{'/' + ${customCss}}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</head>
<body>
	<div class="container">
		<form th:action="@{/password/expired}" method="post"
			accept-charset="utf-8" class="form-signin">
			<h2 class="form-signin-heading" th:text="#{page.expired.heading}">Please change your password</h2>
			<p th:if="${param.retry != null}" th:text="#{page.expired.retry}">Please try again.</p>
			<label for="username" th:text="#{page.expired.username}">User name</label> <input type="text"
				id="username" name="username" class="form-control"
				placeholder="User name" th:placeholder="#{page.expired.username}" required="required" autofocus="autofocus" />
			<label for="oldPassword" th:text="#{page.expired.password.old}">Old password</label> <input type="password"
				id="oldPassword" name="oldPassword" class="form-control"
				placeholder="Current password" th:placeholder="#{page.expired.password.current}" required="required" /> <label
				for="password" th:text="#{page.expired.password.new}">New password</label> <input type="password"
				id="password" name="password" class="form-control"
				placeholder="New password" th:placeholder="#{page.expired.password.new}" required="required"
				aria-describedby="passwordHelp" /> <span id="passwordHelp"
				class="help-block" th:text="#{page.me.password.help(${passwordMinLen})}">The password should have at least 8 characters.
			</span> <label for="passwordAgain" th:text="#{page.expired.password.new.again}">New password (again)</label> <input
				type="password" id="passwordAgain" name="passwordAgain"
				class="form-control" placeholder="New password (again)" th:placeholder="#{page.expired.password.new.again}"
				required="required" /> <input type="hidden" name="token"
				th:value="${token}" /> <input type="hidden"
				th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button type="submit" class="btn btn-lg btn-primary btn-block" th:text="#{page.expired.action.change}">Change
				password</button>
		</form>
	</div>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
