<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.passwordstatus.title}">Change Your Password</title>

<!-- Bootstrap core CSS -->
<link th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
<link th:each="customCss: ${scarpaCustomCss}" th:href="@{'/' + ${customCss}}" rel="stylesheet" />
<link th:href="@{/css/upload.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only" th:text="#{pages.nav.toggle}">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a th:unless="${scarpaAppLogo == ''}" class="navbar-brand"
					th:href="@{/}"><img alt="Scarpa" th:alt="${scarpaAppName}"
					th:src="@{${scarpaAppLogo}}" style="width: auto; height: 24px" /></a>
				<a th:if="${scarpaAppLogo == ''}" class="navbar-brand"
					th:href="@{/}" th:text="${scarpaAppName}">Scarpa</a>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header" th:text="#{page.passwordstatus.heading}">Change your password</h1>

				<div th:switch="${status}">
					<p th:case="passwordChanged">
						<span th:text="#{page.passwordstatus.changed}">Your password was changed. You may now</span> <a th:href="@{/login}" th:text="#{page.passwordstatus.changed.action}">log
							in</a>.
					</p>
					<p th:case="tokenExpired" th:text="#{page.passwordstatus.token.expired}">This link has expired. Please ask
						your server administrator to reset your password again.</p>
					<p th:case="tokenNotFound" th:text="#{page.passwordstatus.token.notfound}">This link is not valid. Please
						contact your server administrator.</p>
					<p th:case="*" th:text="#{page.passwordstatus.other}">Your password is expired. Please contact your
						server administrator.</p>
				</div>

			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{'/webjars/jquery/' + ${jqueryVersion} + '/jquery.min.js'}"></script>
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<script th:src="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/js/bootstrap.min.js'}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
