<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.register.title}">Create an Account</title>
<th:block th:replace="fragments/commonCssJs :: css"></th:block>
<link th:href="@{/css/signin.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<form th:action="@{/register}" method="post" accept-charset="utf-8"
			class="form-signin">
			<h2 class="form-signin-heading" th:text="#{page.register.heading}">Create
				an Account</h2>
			<div th:replace="fragments/alerts :: alerts"></div>
			<label for="email" th:text="#{page.register.email}">Your
				e-mail address</label>
			<!--/**/-->
			<input type="email" id="email" name="email" class="form-control"
				placeholder="someone@example.com"
				th:placeholder="#{page.register.email.example}"
				th:value="${registerUserRequest.email}" required="required"
				autofocus="autofocus" th:disabled="${not isRegisterEnabled}" />
			<!--/**/-->
			<label for="username" th:text="#{page.register.username}">Your
				desired username</label>
			<!--/**/-->
			<input type="text" id="username" name="username" class="form-control"
				placeholder="someone"
				th:placeholder="#{page.register.username.example}"
				th:value="${registerUserRequest.username}" required="required"
				th:disabled="${not isRegisterEnabled}" />
			<!--/**/-->
			<label for="password" th:text="#{page.register.password}">Password</label>
			<!--/**/-->
			<input type="password" id="password" name="password"
				class="form-control" placeholder="Password"
				th:placeholder="#{page.register.password}" required="required"
				autofocus="autofocus" th:disabled="${not isRegisterEnabled}"
				aria-describedby="passwordHelp" /> <span id="passwordHelp"
				class="help-block"
				th:text="#{page.register.password.help(${passwordMinLen})}">The
				password should have at least 8 characters.</span>
			<!--/**/-->
			<label for="passwordAgain" th:text="#{page.register.password.again}">Password
				(again)</label>
			<!--/**/-->
			<input type="password" id="passwordAgain" name="passwordAgain"
				class="form-control" placeholder="Password (again)"
				th:placeholder="#{page.register.password.again}" required="required"
				th:disabled="${not isRegisterEnabled}" />

			<button type="submit" class="btn btn-lg btn-primary btn-block"
				th:text="#{page.register.action.register}"
				th:disabled="${not isRegisterEnabled}">Create account</button>
			<p style="text-align: right; margin-top: 2em">
				<a href="#" th:href="@{/login}"
					th:text="#{page.register.action.login}">I want to log in</a>
			</p>
		</form>
	</div>

	<th:block th:replace="fragments/commonCssJs :: js"></th:block>
	<script th:src="@{/js/scarpaRegister.js}"></script>
</body>
</html>
