<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.role.list.title}">Role group list</title>

<!-- Bootstrap core CSS -->
<link
	th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
<link th:each="customCss: ${scarpaCustomCss}"
	th:href="@{'/' + ${customCss}}" rel="stylesheet" />
<link th:href="@{/css/upload.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</head>
<body>

	<nav th:replace="fragments/header :: header"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar"
				th:replace="fragments/sidebar :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<ul class="nav nav-tabs">
					<li role="presentation"><a href="#" th:href="@{/users}"
						th:text="#{page.userandrole.tab.users}">Users</a></li>
					<li role="presentation"><a href="#" th:href="@{/role-group}"
						th:text="#{page.userandrole.tab.groups}">Groups</a></li>
					<li role="presentation" class="active"><a href="#"
						th:href="@{/role}" th:text="#{page.userandrole.tab.roles}">Roles</a></li>
				</ul>

				<p></p>

				<h1 class="page-header" th:text="#{page.role.list.title}">Role
					list</h1>

				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th th:text="#{page.role.list.table.action}">Action</th>
								<th th:text="#{page.role.list.table.name}">Name</th>
								<th th:text="#{page.role.list.table.description}">Description</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="role : ${roles}">
								<td><a class="btn btn-default"
									th:href="@{/role/{id}(id=${role.id})}" role="button"
									aria-label="Edit" title="Edit"><span
										class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
								<td th:text="${role.name}">name</td>
								<td th:text="${role.description}">description</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		th:src="@{'/webjars/jquery/' + ${jqueryVersion} + '/jquery.min.js'}"></script>
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<script
		th:src="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/js/bootstrap.min.js'}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>

	<script type="text/javascript"
		th:src="@{'/js/jquery-validation/' + ${jqueryValidateVersion} + '/jquery.validate.js'}"></script>
	<script type="text/javascript"
		th:src="@{'/js/jquery-validation/' + ${jqueryValidateVersion} + '/localization/messages_ro.js'}"></script>

	<script th:src="@{/js/scarpaActionConfirm.js}"></script>
</body>
</html>
