<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.role.group.edit.title}">Group edit</title>

<!-- Bootstrap core CSS -->
<link
	th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
<link th:each="customCss: ${scarpaCustomCss}"
	th:href="@{'/' + ${customCss}}" rel="stylesheet" />
<link th:href="@{/css/upload.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</head>
<body>

	<nav th:replace="fragments/header :: header"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar"
				th:replace="fragments/sidebar :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<ul class="nav nav-tabs">
					<li role="presentation"><a href="#" th:href="@{/users}"
						th:text="#{page.userandrole.tab.users}">Users</a></li>
					<li role="presentation" class="active"><a href="#"
						th:href="@{/role-group}" th:text="#{page.userandrole.tab.groups}">Groups</a></li>
					<li role="presentation"><a href="#" th:href="@{/role}"
						th:text="#{page.userandrole.tab.roles}">Roles</a></li>
				</ul>

				<p></p>

				<h1 class="page-header" th:text="#{page.role.group.edit.heading}">Edit
					group</h1>

				<div class="col-sm-12" th:switch="${alert}">
					<div th:case="success" th:text="${alertMessage}"
						class="alert alert-success" role="alert">OK.</div>
					<div th:case="warning" th:text="${alertMessage}"
						class="alert alert-warning" role="alert">Problem.</div>
					<div th:case="error" th:text="${alertMessage}"
						class="alert alert-danger" role="alert">Big problem.</div>
				</div>

				<form th:unless="${mayEditGroup == false}" class="form-horizontal"
					th:action="@{/role-group/{id}(id=${group.id})}" method="POST">
					<div class="form-group">
						<label for="inputCode" class="col-sm-2 control-label"
							th:text="#{page.role.group.edit.code}">Code:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputCode"
								name="groupCode" th:value="${group.code}" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label"
							th:text="#{page.role.group.edit.name}">Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputName"
								name="groupName" th:value="${group.displayName}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							th:text="#{page.role.group.edit.roles}">Roles:</label>
						<div class="col-sm-10">
							<table class="table table-striped">
								<tbody>
									<tr th:each="role: ${group.roles}">
										<td><input type="checkbox" name="roles[]"
											th:value="${role.id}" th:checked="${role.assigned}" /></td>
										<td th:text="${role.name}"></td>
										<td th:text="${role.description}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" name="action" value="save"
								class="btn btn-default" th:text="#{page.role.group.edit.save}">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		th:src="@{'/webjars/jquery/' + ${jqueryVersion} + '/jquery.min.js'}"></script>
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<script
		th:src="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/js/bootstrap.min.js'}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
