<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.role.group.list.title}">Group list</title>
<th:block th:replace="fragments/commonCssJs :: css"></th:block>
</head>
<body>

	<nav th:replace="fragments/header :: header"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar"
				th:replace="fragments/sidebar :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<ul class="nav nav-tabs">
					<li role="presentation"><a href="#" th:href="@{/users}"
						th:text="#{page.userandrole.tab.users}">Users</a></li>
					<li role="presentation" class="active"><a href="#"
						th:href="@{/role-group}" th:text="#{page.userandrole.tab.groups}">Groups</a></li>
					<li role="presentation"><a href="#" th:href="@{/role}"
						th:text="#{page.userandrole.tab.roles}">Roles</a></li>
				</ul>

				<p></p>

				<h1 class="page-header" th:text="#{page.role.group.list.title}">Group
					list</h1>

				<p th:if="${#lists.isEmpty(groups)}"
					th:text="#{page.role.group.list.nonefound}">No groups found.</p>

				<div>
					<a class="btn btn-default pull-left" role="button"
						th:href="@{/role-group/new}"> <span
						class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span
						th:text="#{page.role.group.list.add}">Add group</span>
					</a>
				</div>
				<div class="clearfix"></div>

				<div th:if="${not #lists.isEmpty(groups)}" class="table-responsive">
					<form th:action="@{/role-group/delete}" method="POST">
						<table class="table table-striped">
							<thead>
								<tr>
									<th th:text="#{page.role.group.list.table.action}">Action</th>
									<th th:text="#{page.role.group.list.table.code}">Code</th>
									<th th:text="#{page.role.group.list.table.name}">Name</th>
									<th th:text="#{page.role.group.list.table.roles}">Roles</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="group : ${groups}">
									<td><a class="btn btn-default"
										th:href="@{/role-group/{id}(id=${group.id})}" role="button"
										aria-label="Edit" title="Edit"><span
											class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
										<button name="id" th:value="${group.id}" type="submit"
											class="btn btn-default" aria-label="Delete" title="Delete"
											th:title="#{generic.button.delete}"
											th:attr="data-question=${roleGroupDeleteConfirmation}, data-question-param=${group.code}">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
										</button></td>
									<td th:text="${group.code}">code</td>
									<td th:text="${group.displayName}">name</td>
									<td><ul th:if="${not #lists.isEmpty(group.roles)}">
											<li th:each="role: ${group.roles}"><a
												th:title="${role.description}"
												th:href="@{/role/{id}(id=${role.id})}"
												th:text="${role.name}">role</a></li>
										</ul></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="fragments/commonCssJs :: js"></th:block>
</body>
</html>
