<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.userlist.title}">User list</title>

<!-- Bootstrap core CSS -->
<link
	th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
<link th:each="customCss: ${scarpaCustomCss}"
	th:href="@{'/' + ${customCss}}" rel="stylesheet" />
<link th:href="@{/css/upload.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</head>
<body>

	<nav th:replace="fragments/header :: header"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar"
				th:replace="fragments/sidebar :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="#"
						th:href="@{/users}" th:text="#{page.userandrole.tab.users}">Users</a></li>
					<li role="presentation"><a href="#" th:href="@{/role-group}"
						th:text="#{page.userandrole.tab.groups}">Groups</a></li>
					<li role="presentation"><a href="#" th:href="@{/role}"
						th:text="#{page.userandrole.tab.roles}">Roles</a></li>
				</ul>

				<p></p>

				<h1 class="page-header" th:text="#{page.userlist.title}">User
					list</h1>

				<a class="btn btn-default" th:href="@{/users/new}" role="button"><span
					class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span
					th:text="#{page.userlist.button.add}">Add user</span></a>
				<div class="table-responsive">
					<form th:action="@{/users/delete}" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<table class="table table-striped">
							<thead>
								<tr>
									<th th:text="#{page.userlist.table.user}">User</th>
									<th th:text="#{page.userlist.table.groups}">Groups</th>
									<th th:text="#{page.userlist.table.status}">Status</th>
									<th th:text="#{page.userlist.table.action}">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${users}">
									<td><a th:text="${user.username}"
										th:href="@{/users/{id}(id=${user.id})}">username</a></td>
									<td th:text="${user.groupList}">groups</td>
									<td th:text="${user.status}">status</td>
									<td><button name="id" th:value="${user.id}" type="submit"
											class="btn btn-danger" aria-label="Delete" title="Delete"
											th:title="#{generic.button.delete}"
											th:attr="data-question=${userDeleteConfirmation}, data-question-param=${user.username}">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											<span th:text="#{generic.button.delete}">Delete</span>
										</button></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<nav th:replace="fragments/pageNavigator :: pageNavigator"></nav>

			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		th:src="@{'/webjars/jquery/' + ${jqueryVersion} + '/jquery.min.js'}"></script>
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<script
		th:src="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/js/bootstrap.min.js'}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>

	<script type="text/javascript"
		th:src="@{'/js/jquery-validation/' + ${jqueryValidateVersion} + '/jquery.validate.js'}"></script>
	<script type="text/javascript"
		th:src="@{'/js/jquery-validation/' + ${jqueryValidateVersion} + '/localization/messages_ro.js'}"></script>

	<script th:src="@{/js/scarpaActionConfirm.js}"></script>
</body>
</html>
