<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title th:text="#{page.useredit.title}">User edit</title>

<!-- Bootstrap core CSS -->
<link
	th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
<link th:each="customCss: ${scarpaCustomCss}"
	th:href="@{'/' + ${customCss}}" rel="stylesheet" />
<link th:href="@{/css/upload.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</head>
<body>

	<nav th:replace="fragments/header :: header"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar"
				th:replace="fragments/sidebar :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="#"
						th:href="@{/users}" th:text="#{page.userandrole.tab.users}">Users</a></li>
					<li role="presentation"><a href="#" th:href="@{/role-group}"
						th:text="#{page.userandrole.tab.groups}">Groups</a></li>
					<li role="presentation"><a href="#" th:href="@{/role}"
						th:text="#{page.userandrole.tab.roles}">Roles</a></li>
				</ul>

				<p></p>

				<h1 class="page-header" th:text="#{page.useredit.heading}">Edit
					user</h1>
				<div th:replace="fragments/alerts :: alerts"></div>

				<form class="form-horizontal"
					th:action="@{/users/{id}(id=${user.id})}" method="POST">
					<div class="form-group">
						<label for="inputUsername" class="col-sm-2 control-label"
							th:text="#{page.useredit.username}">Username</label>
						<div class="col-sm-10" th:switch="${user.id}">
							<th:block th:case="-1">
								<input type="text" class="form-control" id="inputUsername"
									name="username" placeholder="e.g. john"
									th:placeholder="#{page.useredit.username.example}"
									th:value="${user.username}" />
							</th:block>
							<th:block th:case="*">
								<p class="form-control-static" th:text="${user.username}"></p>
								<input type="hidden" id="inputUsername" name="username"
									th:value="${user.username}" />
							</th:block>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-sm-2 control-label"
							th:text="#{page.useredit.email}">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail"
								name="email" placeholder="e.g. someone@example.com"
								th:placeholder="#{page.useredit.email.example}"
								th:value="${user.email}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							th:text="#{page.useredit.groups}">Groups</label>
						<div class="col-sm-10">
							<table class="table table-striped">
								<tbody>
									<tr th:each="group: ${user.webRoleGroups}">
										<td><input type="checkbox" name="groups[]"
											th:value="${group.id}" th:checked="${group.assigned}" /></td>
										<td><a th:href="@{/role-group/{id}(id=${group.id})}"
											th:text="${group.code}">code</a></td>
										<td th:text="${group.displayName}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="form-group">
						<label for="enabled" class="col-sm-2 control-label"
							th:text="#{page.useredit.enabled}">Enabled</label>
						<div class="col-sm-10">
							<div class="checkbox">
								<label> <input type="checkbox" id="enabled"
									th:checked="${user.enabled}" />
								</label>
							</div>
						</div>
					</div>
					<div class="form-group" th:if="${canResetPassword}">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" id="resetPasswordButton"
								class="btn btn-default" th:text="#{page.useredit.reset}">Reset
								password</button>
							<span id="resetProgressText"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" name="action" value="save"
								class="btn btn-default" th:text="#{page.useredit.save}">Save</button>
						</div>
					</div>
				</form>
				<form id="resetPasswordForm"
					th:action="@{/users/{id}/resetPassword(id=${user.id})}"
					method="post">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		th:src="@{'/webjars/jquery/' + ${jqueryVersion} + '/jquery.min.js'}"></script>
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<script
		th:src="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/js/bootstrap.min.js'}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		var contextPath = /*[[@{/}]]*/;
		var userId = /*[[${user.id}]]*/;
		//]]>
	</script>
	<script th:src="@{/js/resetPassword.js}"></script>
</body>
</html>
