.scarpa-right-margin {
	margin-right: 1em;
}

.scarpa-spacer {
	margin: 0;
	padding: 0;
	height: 2em;
}

.scarpa-semaphore {
	height: 1em;
	width: 1em;
	background-color: #bbb;
	color: transparent;
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
}

.scarpa-semaphore-red {
	background-color: #d9534f;
}

.scarpa-semaphore-yellow {
	background-color: #f0ad4e;
}

.scarpa-semaphore-green {
	background-color: #5cb85c;
}

/**
 * Make sure modals with a lot of content are no larger than the screen.
 * https://stackoverflow.com/a/26808142/479288
 */
.modal-body {
	max-height: calc(100vh - 212px);
	overflow-y: auto;
}
