#tag-cloud {
	width: auto;
	margin-left: 0;
	padding-left: 0;
}

.cloud-tag {
	background-color: #3A87AD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5;
	margin: 2px 3px 2px 2px;
	padding: 1px 4px 2px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: middle;
}

.cloud-tag:after {
	color: #000;
	content: " ×";
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1;
	opacity: 0.2;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	top: 1px;
}