<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for HTML email with inline image</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		<span th:text="#{mail.password.link}">Please follow this link
			to change your password:</span> <br /> <a href="#"
			th:href="${passwordResetUrl}" th:text="${passwordResetUrl}">https://example.com/</a>
	</p>
	<p th:text="#{mail.welcome.help}">If it doesn't work, please
		contact your server administrator.</p>
</body>
</html>
