<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Welcome mail</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="#{mail.welcome(${applicationName})}">Welcome to Scarpa!</p>
	<p th:text="#{mail.username(${username})}">Your username is tester.</p>
	<p>
		<span th:text="#{mail.welcome.self.registered.link}">You may
			access the application at the following address:</span> <br /> <a href="#"
			th:href="${applicationUrl}" th:text="${applicationUrl}">https://example.com/</a>
	</p>
	<p th:text="#{mail.welcome.help}">If it doesn't work, please
		contact your server administrator.</p>
</body>
</html>
