<!DOCTYPE html>
<html lang="ro" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<form th:fragment="entityTable"
		th:action="@{/{entity}/delete(entity=${entity})}" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
		<!-- Request parameters -->
		<input th:each="filterValue: ${param.get('filter')}" type="hidden"
			name="filter" th:value="${filterValue}" /> <input type="hidden"
			name="page" th:value="${pageNumber}" />
		<table th:if="${not #lists.isEmpty(entities)}"
			class="table table-striped">
			<thead>
				<tr>
					<th th:text="#{generic.table.action}">Action</th>
					<th th:each="column: ${entityColumns}" data-toggle="modal"
						th:attr="data-target=${'#' + column.heading.code + '_modal'}|">
						<!--/* Abbreviation, if present */--> <abbr
						th:unless="${#strings.isEmpty(column.heading.abbreviationTitle)}"
						th:title="${column.heading.abbreviationTitle}"
						th:text="${column.heading.text}"></abbr> <!--/* Simple text, if no abbreviation present */-->
						<th:block
							th:if="${#strings.isEmpty(column.heading.abbreviationTitle)}"
							th:text="${column.heading.text}"></th:block>
					</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="currentEntity : ${entities}">
					<tr>
						<td th:rowspan="${currentEntity.extraEntryCount + 1}"><a
							class="btn btn-default"
							th:href="@{/{entity}/{id}(entity=${entity},id=${currentEntity.entity.id})}"
							role="button" aria-label="Edit" title="Edit"><span
								class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
							<button name="id" th:value="${currentEntity.entity.id}"
								type="submit" class="btn btn-default" aria-label="Delete"
								title="Delete" th:title="#{generic.button.delete}"
								th:attr="data-question=${deleteConfirmation}, data-question-param=${currentEntity.entity.displayName}">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button></td>
						<td th:each="column: ${entityColumns}"
							th:object="${column.values.get(currentEntity.entity)}"
							th:rowspan="${#lists.size(column.detailedValues.get(currentEntity.entity)) le 1 ? (currentEntity.extraEntryCount + 1) : 1}"><th:block
								th:unless="*{#strings.isEmpty(title)}" th:title="*{title}"
								th:text="*{text}"></th:block> <th:block
								th:if="*{#strings.isEmpty(title)}" th:text="*{text}"></th:block>
						</td>
					</tr>
					<tr
						th:each="extraEntryIndex : ${#numbers.sequence(1,currentEntity.extraEntryCount, 1)}">
						<td th:each="column: ${entityColumns}"
							th:unless="${#lists.size(column.detailedValues.get(currentEntity.entity)) le 1}"
							th:object="${column.detailedValues.get(currentEntity.entity).get(extraEntryIndex)}">
							<th:block th:unless="*{#strings.isEmpty(title)}"
								th:title="*{title}" th:text="*{text}"></th:block> <th:block
								th:if="*{#strings.isEmpty(title)}" th:text="*{text}"></th:block>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</form>
</body>
</html>
