<!DOCTYPE html>
<html lang="ro" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="searchBar" th:unless="${doNotShowSearchBar}"
		class="panel panel-default">
		<form class="form-horizontal"
			th:action="@{/{entity}/search(entity=${entity})}" method="POST">
			<input type="hidden" name="basePageUrl" th:value="${basePageUrl}" />
			<div th:unless="${#lists.isEmpty(filter)}" class="panel-heading"
				role="tab" id="headingOne">
				<p>
					<span th:text="#{search.bar.show.result}">Showing search
						result.</span>
				</p>

				<ul id="tag-cloud">
					<li th:each="filteredHeading: ${filteredHeadings}"
						class="cloud-tag" th:attr="data-code=${filteredHeading.code}"
						th:text="${filteredHeading.text}">Criterion</li>
				</ul>
			</div>
			<div th:if="${#lists.isEmpty(filter)}" class="panel-heading"
				role="tab">
				<p>
					<span th:text="#{search.bar.show.all}">Se arată totul.</span>
				</p>
			</div>
			<th:block th:each="filterParam: ${textConditions}">
				<input type="hidden" th:name="|${filterParam.field}_operator|"
					th:value="${filterParam.operator}" />
				<input type="hidden" th:name="${filterParam.field}"
					th:value="${filterParam.value}" />
			</th:block>
		</form>
	</div>
</body>
</html>
