<!DOCTYPE html>
<html lang="ro" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="modal" class="modal fade"
		th:id="${column.heading.code + '_modal'}" tabindex="-1" role="dialog"
		th:attr="aria-labelledby=${column.heading.code + '_modal_label'}">
		<div class="modal-dialog" role="document">
			<form th:id="${column.heading.code + '_form'}"
				class="form-horizontal"
				th:action="@{/{entity}/search(entity=${entity})}" method="POST">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title"
							th:id="${column.heading.code + '_modal_label'}"
							th:text="${column.heading.text}"></h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label th:for="${'input_' + column.heading.code}"
								class="col-sm-2 control-label" th:text="${column.heading.text}"></label>
							<div class="col-sm-10">
								<th:block th:switch="${column.filterType}">
									<input
										th:case="${T(eu.uneltelibere.scarpa.web.controller.data.column.TableColumnFilterType).TEXT}"
										type="text" th:id="${'input_' + column.heading.code}"
										th:name="${column.heading.code}" class="form-control"
										th:placeholder="${column.filterInput.placeholder}" />
									<th:block
										th:case="${T(eu.uneltelibere.scarpa.web.controller.data.column.TableColumnFilterType).ASSISTED_TEXT}">
										<input th:id="${'search_input_' + column.heading.code}"
											type="text" autocomplete="off" class="form-control"
											data-role="typeahead-input"
											th:attr="data-source=@{${column.filterInput.dataSource}}"
											data-provide="typeahead"
											th:placeholder="${column.filterInput.placeholder}" />
										<span
											class="glyphicon glyphicon-warning-sign form-control-feedback"
											aria-hidden="true" data-showOnStatus="warning"></span>
										<!-- /**/ -->
										<span class="glyphicon glyphicon-remove form-control-feedback"
											aria-hidden="true" data-showOnStatus="error"></span>
										<!-- /**/ -->
										<span th:id="${'help_block_' + column.heading.code}"
											class="help-block">Not found.</span>
										<input th:id="${'selected_id_' + column.heading.code}"
											th:name="${column.heading.code}" type="hidden"
											class="form-control" data-role="selectedId" />
									</th:block>
									<select
										th:case="${T(eu.uneltelibere.scarpa.web.controller.data.column.TableColumnFilterType).SELECT}"
										th:id="${'select_' + column.heading.code}"
										th:name="${column.heading.code}" class="form-control">
										<option th:each="option: ${column.filterInput.options}"
											th:value="${option.value}" th:text="${option.label}"
											th:selected="${option.selected}">opțiune</option>
									</select>
									<th:block
										th:case="${T(eu.uneltelibere.scarpa.web.controller.data.column.TableColumnFilterType).NULLABLE_DATE}">
										<div class="col-sm-6">
											<select th:name="${column.heading.code + '_operator'}"
												class="form-control"
												th:attr="data-right-hand=${'value_container_' + column.heading.code}">
												<option data-operator="unary" value="none">nedeterminat</option>
												<option data-operator="binary" value="eq"
													selected="selected">în luna</option>
											</select>
										</div>
										<div th:id="${'value_container_' + column.heading.code}"
											class="col-sm-6" data-operand="right-hand">
											<div class="input-group">
												<input type="text" class="form-control"
													th:id="${'input_' + column.heading.code}"
													th:name="${column.heading.code}" value="" /><span
													class="input-group-btn">
													<button class="btn btn-default date-button" type="button"
														data-date-format="m/yyyy" data-date-language="ro"
														data-date-start-view="1" data-date-min-view-mode="1"
														data-date-max-view-mode="2"
														data-date-orientation="bottom-auto"
														th:attr="data-target=${'input_' + column.heading.code}"
														data-target-format="M/yyyy">
														<span class="glyphicon glyphicon-calendar"
															aria-hidden="true"></span>
													</button>
												</span>
											</div>
										</div>
									</th:block>
								</th:block>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text=#{modal.search.cancel}>Cancel</button>
						<button type="submit" class="btn btn-primary"
							th:text="#{modal.search.apply.filter}">Apply filter</button>
					</div>
				</div>
				<th:block
					th:replace="fragments/otherFilters :: otherFilters(currentFilter=${column.heading.code})"></th:block>
			</form>
		</div>
	</div>
</body>
</html>
