<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title>Scarpa Common CSS and JS includes</title>

<th:block th:fragment="css">
	<!-- Bootstrap core CSS -->
	<link
		th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
		rel="stylesheet" />
	<link
		th:href="@{'/webjars/jquery-file-upload/' + ${jqueryFileUploadVersion} + '/css/jquery.fileupload.css'}"
		rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link th:href="@{/css/scarpa.css}" rel="stylesheet" />
	<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
	<link th:each="customCss: ${scarpaCustomCss}"
		th:href="@{'/' + ${customCss}}" rel="stylesheet" />
	<link th:href="@{/css/upload.css}" rel="stylesheet" />
	<link th:href="@{/css/searchTable.css}" rel="stylesheet" />
	<link th:href="@{/css/tag-cloud.css}" rel="stylesheet" />
	<link th:href="@{/css/scarpa-hover-button.css}" rel="stylesheet" />

	<link
		th:href="@{'/webjars/bootstrap-datepicker/' + ${bootstrapDatePickerVersion} + '/css/bootstrap-datepicker3.min.css'}"
		rel="stylesheet" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</th:block>
</head>
<body>
	<th:block th:fragment="js">
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script th:src="@{/js/scarpa.js}"></script>
		<script
			th:src="@{'/webjars/jquery/' + ${jqueryVersion} + '/jquery.min.js'}"></script>

		<!--/* jquery-ui is a dependency of jquery-file-upload */-->
		<script
			th:src="@{'/webjars/jquery-ui/' + ${jqueryUiVersion} + '/js/jquery-ui-1.9.0.custom.min.js'}"></script>
		<script
			th:src="@{'/webjars/jquery-file-upload/' + ${jqueryFileUploadVersion} + '/js/jquery.iframe-transport.js'}"></script>
		<script
			th:src="@{'/webjars/jquery-file-upload/' + ${jqueryFileUploadVersion} + '/js/jquery.fileupload.js'}"></script>

		<script th:src="@{/js/jquery.form.min.js}"></script>
		<script
			th:src="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/js/bootstrap.min.js'}"></script>
		<script
			th:src="@{'/webjars/Bootstrap-3-Typeahead/' + ${bootstrap3TypeaheadVersion} + '/bootstrap3-typeahead.min.js'}"></script>
		<script
			th:src="@{'/webjars/bootstrap-datepicker/' + ${bootstrapDatePickerVersion} + '/js/bootstrap-datepicker.min.js'}"></script>
		<script
			th:src="@{'/webjars/bootstrap-datepicker/' + ${bootstrapDatePickerVersion} + '/locales/bootstrap-datepicker.ro.min.js'}"></script>
		<script th:src="@{/js/scarpaDatePickerButton.js}"></script>
		<!--/* jquery-dateFormat without jQuery dependency */-->
		<script th:src="@{/js/dateFormat.min.js}"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>

		<script type="text/javascript"
			th:src="@{'/js/jquery-validation/' + ${jqueryValidateVersion} + '/jquery.validate.js'}"></script>
		<script type="text/javascript"
			th:src="@{'/js/jquery-validation/' + ${jqueryValidateVersion} + '/localization/messages_ro.js'}"></script>

		<script th:src="@{/js/scarpaActionConfirm.js}"></script>
		<script th:src="@{/js/scarpaSearch.js}"></script>
		<script th:src="@{/js/scarpaSearchTagCloud.js}"></script>
		<script th:src="@{/js/searchTable.js}"></script>
		<script th:src="@{/js/scarpaAjaxChoose.js}"></script>
		<script th:src="@{/js/scarpa-hover-button.js}"></script>

		<script th:src="@{/js/animation.js}"></script>
		<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		var csrfToken = /*[[${_csrf.token}]]*/
		var contextPath = /*[[@{/}]]*/;
		//]]>
	</script>
	</th:block>
</body>
</html>
