<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title>Scarpa Header</title>

<!-- Bootstrap core CSS -->
<link
	th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
<link th:each="customCss: ${scarpaCustomCss}"
	th:href="@{'/' + ${customCss}}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top"
		th:fragment="header">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only" th:text="#{pages.nav.toggle}">Toggle
						navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a th:unless="${scarpaAppLogo == ''}" class="navbar-brand"
					th:href="@{/}"><img alt="Scarpa" th:alt="${scarpaAppName}"
					th:src="@{${scarpaAppLogo}}" style="width: auto; height: 24px" /></a>
				<a th:if="${scarpaAppLogo == ''}" class="navbar-brand"
					th:href="@{/}" th:text="${scarpaAppName}">Scarpa</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form th:action="@{/logout}" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/me}" th:text="#{pages.nav.myaccount}">My
								account</a></li>
						<li><button type="submit" class="btn btn-link navbar-btn"
								th:text="#{pages.nav.logout}">Logout</button></li>
					</ul>
				</form>
			</div>
		</div>
	</nav>
</body>
</html>
