<!DOCTYPE html>
<html lang="ro" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="otherFilters"
		th:each="filterParam: ${textConditions}">
		<th:block th:if="${filterParam.field != currentFilter}">
			<input type="hidden" th:name="|${filterParam.field}_operator|"
				th:value="${filterParam.operator}" />
			<input type="hidden" th:name="${filterParam.field}"
				th:value="${filterParam.value}" />
		</th:block>
	</th:block>
</body>
</html>
