<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]><link rel="shortcut icon" th:href="@{'/' + ${scarpaFavicon} + '.ico'}" /><![endif]-->
<link rel="icon" th:href="@{'/' + ${scarpaFavicon} + '.png'}" />
<title>Scarpa Page Navigator</title>

<!-- Bootstrap core CSS -->
<link
	th:href="@{'/webjars/bootstrap/' + ${bootstrapVersion} + '/css/bootstrap.min.css'}"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet" />
<link th:each="customCss: ${scarpaCustomCss}"
	th:href="@{'/' + ${customCss}}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script th:src="@{'/webjars/html5shiv/' + ${html5shivVersion} + '/html5shiv.min.js'}"></script>
	<script th:src="@{'/webjars/respond/' + ${respondVersion} + '/respond.min.js'}"></script>
<![endif]-->
</head>
<body>

	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-3 col-md-2 sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<nav th:if="${pageNavigator}" th:fragment="pageNavigator">
					<ul class="pagination" th:object="${pageNavigator}"
						th:with="queryString=${#strings.isEmpty(#httpServletRequest.getQueryString()) ? '' : '?' + #httpServletRequest.getQueryString()}">
						<li th:classappend="*{first.enabled} ? '' : 'disabled'"><a
							th:if="*{first.enabled}"
							th:href="@{/{basePageUrl}/page/{page}(basePageUrl=*{basePageUrl},page=*{first.targetPage})} + ${queryString}"
							aria-label="First"><span aria-hidden="true">&laquo;</span></a><span
							th:if="*{not first.enabled}">&laquo;</span></li>
						<li th:each="button : *{buttons}"
							th:classappend="(${not button.enabled} ? 'disabled ' : '') + (${button.active} ? 'active' : '')"><a
							th:if="${button.enabled}"
							th:href="@{/{basePageUrl}/page/{page}(basePageUrl=*{basePageUrl},page=${button.targetPage})} + ${queryString}"
							th:text="${button.label}">1 <span th:if="${button.active}"
								class="sr-only">(current)</span>
						</a><span th:if="${not button.enabled}" th:text="${button.label}"></span></li>
						<li th:classappend="*{last.enabled} ? '' : 'disabled'"><a
							th:if="*{last.enabled}"
							th:href="@{/{basePageUrl}/page/{page}(basePageUrl=*{basePageUrl},page=*{last.targetPage})} + ${queryString}"
							aria-label="Last"><span aria-hidden="true">&raquo;</span></a><span
							th:if="*{not last.enabled}">&raquo;</span></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</body>
</html>
