<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<ul class="nav nav-tabs" th:fragment="tab-bar">
		<li role="presentation" th:each="menuEntry: ${subMenu}"
			th:class="${menuEntry.active}? 'active'"><a
			th:href="@{${menuEntry.link}}"><span
				th:text="#{${menuEntry.label}}"></span> <span
				th:if="${menuEntry.badge > 0}" class="badge"
				th:text="${menuEntry.badge}">42</span> <span
				th:if="${menuEntry.active}" class="sr-only"
				th:text="#{pages.sidebar.current}">(current)</span></a></li>
	</ul>
</body>
</html>
